body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: linear-gradient(180deg, #2b0000, #000);
  color: #e5e5e5;
  overflow-x: hidden;
}

header {
  position: relative;
  background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') center/cover;
  padding: 80px 20px;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(40,0,0,0.75);
}

header h1 {
  font-size: 3rem;
  animation: glitch 3s infinite;
}

@keyframes glitch {
  0% { text-shadow: 2px 0 red; }
  20% { text-shadow: -2px 0 darkred; }
  40% { text-shadow: 2px 2px red; }
  60% { text-shadow: -2px -2px red; }
  100% { text-shadow: 2px 0 red; }
}

section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
}

h2 {
  color: #ff4d4d;
  border-left: 4px solid #e10600;
  padding-left: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  background: rgba(255,255,255,0.04);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  overflow: hidden;
}

.card h3 {
  color: #ff4d4d;
}

.card::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 20px;
  width: 6px;
  height: 20px;
  background: #e10600;
  border-radius: 50%;
  animation: drip 3.5s infinite;
}

@keyframes drip {
  0% { top: -20px; opacity: 0; }
  30% { opacity: 1; }
  100% { top: 120%; opacity: 0; }
}

.card p {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.card.active p {
  max-height: 300px;
  opacity: 1;
}

button {
  background: #e10600;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

button:hover {
  background: #ff4d4d;
}

@media (max-width: 600px) {
  header h1 { font-size: 2.2rem; }
  button { width: 100%; }
}

footer {
  margin-bottom: 17px;
  background: #000;
  text-align: center;
  padding: 20px;
  font-size: 0.85rem;
  color: #aaa;
}


.card p,
.card img {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.card.active p,
.card.active img {
  max-height: 500px;
  opacity: 1;
}

#map-btn {
  background: #e10600;
  color: white;
  border: 2px solid black;
  padding: 12px 22px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
